body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scaled-switch {
  transform: scale(1.3);
  transform-origin: left center;
  margin-top: 1em;
}

.form-check.form-switch {
  display: inline-flex;
  align-items: center;
}

.info-icon {
  color: #007bff;
}

.word-cloud-container {
  position: relative;
  margin-top: 5em;
  margin-bottom: 5em;
  z-index: 1;
}

.word-cloud-title {
  position: relative;
  z-index: 2;
}

.word-cloud-button {
  position:relative;
  z-index: 2;
}

.word-cloud {
  transform: scale(2);
}